<!doctype html>
<html>
  <head>
    <title>User {{ name or "Anonyme" }}</title>
  </head>
  <body>
      {% for k in data %}
      <section>
        <h2>{{ k }}</h2>
      </section>
      {% endfor %}
  </body>
</html>
